*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.userIcon{
    padding: 2px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #3bb8ff;
}
.makeStyles-paper-3{
    background-color: #F5F8FF !important;
}
.userTab{
    display: flex;
    align-items: center;
    padding-left:20px;
}

.userHeading {
    font-size: 30px;
    padding-left:17px;
}

.btnNew{
    margin-left:1100px;
}

.bredcrum-text{
    display: flex;
    height: 49px;
    align-items: center;
    padding-left:60px !important;
    margin-top:-9px;

}

.configureLink{
    display: flex;
    height: 49px;
    align-items: center;
    padding-left:55px;
    margin-top:-9px;
}

.config-btn{
    margin-left: 20px !important;
    padding: 4px 4px ;
    cursor: pointer;
     
}

.configureLink{
    background-color: #CBD2E3 !important;
}

.btnConfigure{
    color: #3BBEF4 !important;

}

.entriesDataInfo{
    display: flex;
    height: 55px;
    align-items: center;
    margin-top:3px;
    padding-left:55px;
}



.select-option{
    margin-left: 20px;
    padding: 3px;
}

.div-icon {
    margin-left: 10px;
    border-radius: 3px;
    background-color: white;
  }
  

.entriesText{
    margin-left: 30px;
    
}

.entriesDataInfo
  {
    background-color: #ECEFF5 !important;   
  }

.pagination{
      margin:0 auto; 
  }

  .MuiButtonBase-root-a{
      background-color: white !important;
  } 
  .tableData{
      width:80% !important;
      margin:0 auto;
      border:1px solid black !important;
      margin-top: 70px;
      margin-left: 110px;
      margin-bottom: 100px;
      background-color: white;
      box-shadow: 2px 2px 2px 2px #F0F0F0 !important;
  }

  .MuiTableCell-head {
      background-color: #E5E9F1 !important;
  }

  .Maintable{
      background-color:#F5F8FF !important;
      
  }

  .MuiTableCell-alignRight {
    text-align: right;
    flex-direction: row-reverse;
    padding-right: 90px !important;
    border-bottom-color: gray !important;
}


  .ex-val{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
  }

.ViewForm{
    display: flex !important;
}

.ViewTxt{
    display: flex !important;
}

.viewText{
    font-size: 20px !important;
    color:#303F9F !important;
    font-weight: bold !important;
}

.viewSelect{
    color: Black !important;
    border: 1px solid black !important;
    padding: 1px 4px;
    height: 27px;
    /* margin-bottom:2px !important; */
    align-items: center;
    background-color: white;
}

.config-data{
    background-color: white;
    text-align: center;
}

.mt-0{
    margin-top: 0px !important;
}
.pb-0 {
    padding-bottom:0px !important;}


.con-data-name{
    display:flex !important;
    justify-content: space-around;
    
}
.bold-txt{
    font-weight: bold;
}

.m-left{
    margin-left:6px ;
}

.con-d-APtext{
    padding-left: 18px;
}

.dragbtns{
    border: 1px solid black !important;
}

.input-data input{
    padding: 2px;
    border:0.5px solid lightgray !important;
}
.MuiPaper-elevation1{
    box-shadow: none !important;
    padding-left: 10px;
}

.MuiTabPanel-root{
    padding:20px !important;
}

.drg-li{
    margin-right: 10px !important ;
}